#faceImg {
	position: relative;
	display: block;
	z-index: 0;
	max-height: 640px;
	height: auto;
	width: auto;
}

#squareImg {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -320px;
	z-index: 1;
}

#leftImg {
	display: block;
	float: left;
	max-height: 480px;
	height: auto;
	width: auto;
	margin-bottom: 50px;
}

#rightImg {
	display: block;
	float: right;
	max-height: 480px;
	height: auto;
	width: auto;
	margin-bottom: 50px;
}

.jspsych-survey-multi-choice-text {
	float: left;
	margin: 0;
}

label.jspsych-survey-multi-choice-text {
	float: right;
}
