#faceImg {
	position: relative;
	display: block;
	z-index: 0;
	max-height: 640px;
	height: auto;
	width: auto;
}

#squareImg {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -320px;
	z-index: 1;
}

#leftImg {
	display: block;
	float: left;
	max-height: 480px;
	height: auto;
	width: auto;
	margin-bottom: 50px;
}

#rightImg {
	display: block;
	float: right;
	max-height: 480px;
	height: auto;
	width: auto;
	margin-bottom: 50px;
}

.jspsych-survey-multi-choice-text {
	float: left;
	margin: 0;
}

label.jspsych-survey-multi-choice-text {
	float: right;
}

#jspsych-serial-reaction-time-stimulus-cell-0-0:before {
	content: "q";
}

#jspsych-serial-reaction-time-stimulus-cell-0-1:before {
	content: "w";
}

#jspsych-serial-reaction-time-stimulus-cell-0-2:before {
	content: "e";
}

#jspsych-serial-reaction-time-stimulus-cell-1-0:before {
	content: "a";
}

#jspsych-serial-reaction-time-stimulus-cell-1-1:before {
	content: "s";
}

#jspsych-serial-reaction-time-stimulus-cell-1-2:before {
	content: "d";
}

#jspsych-serial-reaction-time-stimulus-cell-2-0:before {
	content: "z";
}

#jspsych-serial-reaction-time-stimulus-cell-2-1:before {
	content: "x";
}

#jspsych-serial-reaction-time-stimulus-cell-2-2:before {
	content: "c";
}

.jspsych-survey-multi-choice-preamble {
	margin-top: 2em;
}
